.choose-man-dialog {
    ::v-deep .el-dialog__body {
        padding: 0 40px 20px;
    }
    ::v-deep .el-tabs__header {
        margin-bottom: 0;
    }
    .cmd-main {
        height: 650px;
    }
    .search-panel {
        padding: 16px 0;
    }
    .table-panel {
        height: 585px;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
        padding-bottom: 8px;
    }
    .checked-list {
        height: 649px;
        h3 {
            height: 64px;
            line-height: 64px;
            color: #334155;
            font-size: 16px;
        }
        .checked-table {
            height: 585px;
            border: 1px solid #dcdfe6;
            border-radius: 4px;
        }
    }
}
